.page {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.title-card {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.instructions-card {
max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.reviews {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

button{
  margin: 5px;
}

.edit {
  margin-left: auto;
}